<h1>Show foreignshipment</h1>

	<p>
		<strong>placeOfLoading:</strong>
		<%= element.placeOfLoading %>
	</p>
	<p>
		<strong>placeOfUnloading:</strong>
		<%= element.placeOfUnloading %>
	</p>
	<p>
		<strong>customsName:</strong>
		<%= element.customsName %>
	</p>
	<p>
		<strong>route:</strong>
		<%= element.route %>
	</p>
	<p>
		<strong>foreignShipmentID:</strong>
		<%= element.foreignShipmentID %>
	</p>
	<p>
		<strong>billOfEntryID:</strong>
		<%= element.billOfEntryID %>
	</p>

<br>
<a href="/foreignshipment/edit/<%= element.id %>">Edit</a>
<a href="/foreignshipment/create">New</a>
<a href="/foreignshipment">Back</a>
