<h1>employee</h1>


<% if (result.length == 0) { %>
  <h4>
    0 employee
  </h4>
<% } else { %>
<table>
	<thead>
    <th>#</th>
		<th>id</th>
			<th>joningDate</th>
			<th>leavingDate</th>
			<th>status</th>
			<th>designation</th>
			<th>employeeID</th>
			<th>warehouseID</th>
			<th>departmentID</th>
			<th>branchID</th>
			<th>factoryID</th>
			<th>organizationID</th>

		<th>created at</th>
		<th>updated at</th>
		<th colspan="3"></th>
	</thead>

	<tbody>
		<% result.forEach((item, i) => { %>
			<tr>
				<td>
					<%= (i + 1) %>
				</td>
				<td>
					<%= item.id %>
				</td>
					<td>
						<%= item.joningDate %>
					</td>
					<td>
						<%= item.leavingDate %>
					</td>
					<td>
						<%= item.status %>
					</td>
					<td>
						<%= item.designation %>
					</td>
					<td>
						<%= item.employeeID %>
					</td>
					<td>
						<%= item.warehouseID %>
					</td>
					<td>
						<%= item.departmentID %>
					</td>
					<td>
						<%= item.branchID %>
					</td>
					<td>
						<%= item.factoryID %>
					</td>
					<td>
						<%= item.organizationID %>
					</td>
				<td>
					<%= item.createdAt %>
				</td>
				<td>
					<%= item.updatedAt %>
				</td>
				<td>
					<a href="/employee/show/<%= item.id %>">Show</a>
				</td>
				<td>
					<a href="/employee/delete/<%= item.id %>">Delete</a>
				</td>
        <td>
					<a href="/employee/edit/<%= item.id %>">Edit</a>
				</td>
			</tr>
			<% }) %>
	</tbody>
</table>

<% } %>

<br>
<a href="/employee/create">New</a>