<h1>Show employee</h1>

	<p>
		<strong>joningDate:</strong>
		<%= element.joningDate %>
	</p>
	<p>
		<strong>leavingDate:</strong>
		<%= element.leavingDate %>
	</p>
	<p>
		<strong>status:</strong>
		<%= element.status %>
	</p>
	<p>
		<strong>designation:</strong>
		<%= element.designation %>
	</p>
	<p>
		<strong>employeeID:</strong>
		<%= element.employeeID %>
	</p>
	<p>
		<strong>warehouseID:</strong>
		<%= element.warehouseID %>
	</p>
	<p>
		<strong>departmentID:</strong>
		<%= element.departmentID %>
	</p>
	<p>
		<strong>branchID:</strong>
		<%= element.branchID %>
	</p>
	<p>
		<strong>factoryID:</strong>
		<%= element.factoryID %>
	</p>
	<p>
		<strong>organizationID:</strong>
		<%= element.organizationID %>
	</p>

<br>
<a href="/employee/edit/<%= element.id %>">Edit</a>
<a href="/employee/create">New</a>
<a href="/employee">Back</a>
