<h1>Show vwIndividualCustomer</h1>

	<p>
		<strong>clientID:</strong>
		<%= element.clientID %>
	</p>
	<p>
		<strong>date:</strong>
		<%= element.date %>
	</p>
	<p>
		<strong>title:</strong>
		<%= element.title %>
	</p>
	<p>
		<strong>firstName:</strong>
		<%= element.firstName %>
	</p>
	<p>
		<strong>lastName:</strong>
		<%= element.lastName %>
	</p>
	<p>
		<strong>dateOfBirth:</strong>
		<%= element.dateOfBirth %>
	</p>
	<p>
		<strong>gender:</strong>
		<%= element.gender %>
	</p>
	<p>
		<strong>emailAddress:</strong>
		<%= element.emailAddress %>
	</p>
	<p>
		<strong>mobileNo:</strong>
		<%= element.mobileNo %>
	</p>
	<p>
		<strong>maritalStatus:</strong>
		<%= element.maritalStatus %>
	</p>
	<p>
		<strong>addressLine1:</strong>
		<%= element.addressLine1 %>
	</p>
	<p>
		<strong>addressLine2:</strong>
		<%= element.addressLine2 %>
	</p>
	<p>
		<strong>postcode:</strong>
		<%= element.postcode %>
	</p>
	<p>
		<strong>city:</strong>
		<%= element.city %>
	</p>
	<p>
		<strong>country:</strong>
		<%= element.country %>
	</p>

<br>
<a href="/vwIndividualCustomer/edit/<%= element.id %>">Edit</a>
<a href="/vwIndividualCustomer/create">New</a>
<a href="/vwIndividualCustomer">Back</a>
