<h1>Show purchaseorderdetails</h1>

	<p>
		<strong>itemID:</strong>
		<%= element.itemID %>
	</p>
	<p>
		<strong>quantity:</strong>
		<%= element.quantity %>
	</p>
	<p>
		<strong>unitPrice:</strong>
		<%= element.unitPrice %>
	</p>
	<p>
		<strong>weight:</strong>
		<%= element.weight %>
	</p>
	<p>
		<strong>purchaseOrderDetailsID:</strong>
		<%= element.purchaseOrderDetailsID %>
	</p>
	<p>
		<strong>purchaseOrderID:</strong>
		<%= element.purchaseOrderID %>
	</p>

<br>
<a href="/purchaseorderdetails/edit/<%= element.id %>">Edit</a>
<a href="/purchaseorderdetails/create">New</a>
<a href="/purchaseorderdetails">Back</a>
