<h1>customers</h1>


<% if (result.length == 0) { %>
  <h4>
    0 customers
  </h4>
<% } else { %>
<table>
	<thead>
    <th>#</th>
		<th>id</th>
			<th>id</th>
			<th>firstname</th>
			<th>lastname</th>
			<th>age</th>
			<th>createdAt</th>
			<th>updatedAt</th>

		<th>created at</th>
		<th>updated at</th>
		<th colspan="3"></th>
	</thead>

	<tbody>
		<% result.forEach((item, i) => { %>
			<tr>
				<td>
					<%= (i + 1) %>
				</td>
				<td>
					<%= item.id %>
				</td>
					<td>
						<%= item.id %>
					</td>
					<td>
						<%= item.firstname %>
					</td>
					<td>
						<%= item.lastname %>
					</td>
					<td>
						<%= item.age %>
					</td>
					<td>
						<%= item.createdAt %>
					</td>
					<td>
						<%= item.updatedAt %>
					</td>
				<td>
					<%= item.createdAt %>
				</td>
				<td>
					<%= item.updatedAt %>
				</td>
				<td>
					<a href="/customers/show/<%= item.id %>">Show</a>
				</td>
				<td>
					<a href="/customers/delete/<%= item.id %>">Delete</a>
				</td>
        <td>
					<a href="/customers/edit/<%= item.id %>">Edit</a>
				</td>
			</tr>
			<% }) %>
	</tbody>
</table>

<% } %>

<br>
<a href="/customers/create">New</a>