<h1>Show monthly</h1>

	<p>
		<strong>basicSalary:</strong>
		<%= element.basicSalary %>
	</p>
	<p>
		<strong>convince:</strong>
		<%= element.convince %>
	</p>
	<p>
		<strong>festivalBonus:</strong>
		<%= element.festivalBonus %>
	</p>
	<p>
		<strong>houseRent:</strong>
		<%= element.houseRent %>
	</p>
	<p>
		<strong>medicalAllowance:</strong>
		<%= element.medicalAllowance %>
	</p>
	<p>
		<strong>otherAllowance:</strong>
		<%= element.otherAllowance %>
	</p>
	<p>
		<strong>increment:</strong>
		<%= element.increment %>
	</p>
	<p>
		<strong>monthlyID:</strong>
		<%= element.monthlyID %>
	</p>

<br>
<a href="/monthly/edit/<%= element.id %>">Edit</a>
<a href="/monthly/create">New</a>
<a href="/monthly">Back</a>
