<h1>Show vwIndividualSupplier</h1>

	<p>
		<strong>supplierID:</strong>
		<%= element.supplierID %>
	</p>
	<p>
		<strong>departmentID:</strong>
		<%= element.departmentID %>
	</p>
	<p>
		<strong>subSidiaryAccountID:</strong>
		<%= element.subSidiaryAccountID %>
	</p>
	<p>
		<strong>type:</strong>
		<%= element.type %>
	</p>
	<p>
		<strong>organizationID:</strong>
		<%= element.organizationID %>
	</p>
	<p>
		<strong>title:</strong>
		<%= element.title %>
	</p>
	<p>
		<strong>firstName:</strong>
		<%= element.firstName %>
	</p>
	<p>
		<strong>lastName:</strong>
		<%= element.lastName %>
	</p>
	<p>
		<strong>dateOfBirth:</strong>
		<%= element.dateOfBirth %>
	</p>
	<p>
		<strong>gender:</strong>
		<%= element.gender %>
	</p>
	<p>
		<strong>emailAddress:</strong>
		<%= element.emailAddress %>
	</p>
	<p>
		<strong>mobileNo:</strong>
		<%= element.mobileNo %>
	</p>
	<p>
		<strong>maritalStatus:</strong>
		<%= element.maritalStatus %>
	</p>

<br>
<a href="/vwIndividualSupplier/edit/<%= element.id %>">Edit</a>
<a href="/vwIndividualSupplier/create">New</a>
<a href="/vwIndividualSupplier">Back</a>
