<h1>department</h1>


<% if (result.length == 0) { %>
  <h4>
    0 department
  </h4>
<% } else { %>
<table>
	<thead>
    <th>#</th>
		<th>id</th>
			<th>contactNo</th>
			<th>departmentName</th>
			<th>location</th>
			<th>emailAddress</th>
			<th>branchID</th>
			<th>departmentID</th>
			<th>organizationID</th>
			<th>createdAt</th>
			<th>updatedAt</th>

		<th>created at</th>
		<th>updated at</th>
		<th colspan="3"></th>
	</thead>

	<tbody>
		<% result.forEach((item, i) => { %>
			<tr>
				<td>
					<%= (i + 1) %>
				</td>
				<td>
					<%= item.id %>
				</td>
					<td>
						<%= item.contactNo %>
					</td>
					<td>
						<%= item.departmentName %>
					</td>
					<td>
						<%= item.location %>
					</td>
					<td>
						<%= item.emailAddress %>
					</td>
					<td>
						<%= item.branchID %>
					</td>
					<td>
						<%= item.departmentID %>
					</td>
					<td>
						<%= item.organizationID %>
					</td>
					<td>
						<%= item.createdAt %>
					</td>
					<td>
						<%= item.updatedAt %>
					</td>
				<td>
					<%= item.createdAt %>
				</td>
				<td>
					<%= item.updatedAt %>
				</td>
				<td>
					<a href="/department/show/<%= item.id %>">Show</a>
				</td>
				<td>
					<a href="/department/delete/<%= item.id %>">Delete</a>
				</td>
        <td>
					<a href="/department/edit/<%= item.id %>">Edit</a>
				</td>
			</tr>
			<% }) %>
	</tbody>
</table>

<% } %>

<br>
<a href="/department/create">New</a>