<h1>Show department</h1>

	<p>
		<strong>contactNo:</strong>
		<%= element.contactNo %>
	</p>
	<p>
		<strong>departmentName:</strong>
		<%= element.departmentName %>
	</p>
	<p>
		<strong>location:</strong>
		<%= element.location %>
	</p>
	<p>
		<strong>emailAddress:</strong>
		<%= element.emailAddress %>
	</p>
	<p>
		<strong>branchID:</strong>
		<%= element.branchID %>
	</p>
	<p>
		<strong>departmentID:</strong>
		<%= element.departmentID %>
	</p>
	<p>
		<strong>organizationID:</strong>
		<%= element.organizationID %>
	</p>
	<p>
		<strong>createdAt:</strong>
		<%= element.createdAt %>
	</p>
	<p>
		<strong>updatedAt:</strong>
		<%= element.updatedAt %>
	</p>

<br>
<a href="/department/edit/<%= element.id %>">Edit</a>
<a href="/department/create">New</a>
<a href="/department">Back</a>
