<h1>Show timesheet</h1>

	<p>
		<strong>attendanceDate:</strong>
		<%= element.attendanceDate %>
	</p>
	<p>
		<strong>present:</strong>
		<%= element.present %>
	</p>
	<p>
		<strong>timesIn:</strong>
		<%= element.timesIn %>
	</p>
	<p>
		<strong>timesOut:</strong>
		<%= element.timesOut %>
	</p>
	<p>
		<strong>timesheetID:</strong>
		<%= element.timesheetID %>
	</p>
	<p>
		<strong>employeeID:</strong>
		<%= element.employeeID %>
	</p>

<br>
<a href="/timesheet/edit/<%= element.id %>">Edit</a>
<a href="/timesheet/create">New</a>
<a href="/timesheet">Back</a>
