<h1>increment</h1>


<% if (result.length == 0) { %>
  <h4>
    0 increment
  </h4>
<% } else { %>
<table>
	<thead>
    <th>#</th>
		<th>id</th>
			<th>increaseAmount</th>
			<th>inseresedDate</th>
			<th>incrementID</th>
			<th>monthlyID</th>

		<th>created at</th>
		<th>updated at</th>
		<th colspan="3"></th>
	</thead>

	<tbody>
		<% result.forEach((item, i) => { %>
			<tr>
				<td>
					<%= (i + 1) %>
				</td>
				<td>
					<%= item.id %>
				</td>
					<td>
						<%= item.increaseAmount %>
					</td>
					<td>
						<%= item.inseresedDate %>
					</td>
					<td>
						<%= item.incrementID %>
					</td>
					<td>
						<%= item.monthlyID %>
					</td>
				<td>
					<%= item.createdAt %>
				</td>
				<td>
					<%= item.updatedAt %>
				</td>
				<td>
					<a href="/increment/show/<%= item.id %>">Show</a>
				</td>
				<td>
					<a href="/increment/delete/<%= item.id %>">Delete</a>
				</td>
        <td>
					<a href="/increment/edit/<%= item.id %>">Edit</a>
				</td>
			</tr>
			<% }) %>
	</tbody>
</table>

<% } %>

<br>
<a href="/increment/create">New</a>