<h1>Show increment</h1>

	<p>
		<strong>increaseAmount:</strong>
		<%= element.increaseAmount %>
	</p>
	<p>
		<strong>inseresedDate:</strong>
		<%= element.inseresedDate %>
	</p>
	<p>
		<strong>incrementID:</strong>
		<%= element.incrementID %>
	</p>
	<p>
		<strong>monthlyID:</strong>
		<%= element.monthlyID %>
	</p>

<br>
<a href="/increment/edit/<%= element.id %>">Edit</a>
<a href="/increment/create">New</a>
<a href="/increment">Back</a>
