<h1>Show organization</h1>

	<p>
		<strong>organizationName:</strong>
		<%= element.organizationName %>
	</p>
	<p>
		<strong>address:</strong>
		<%= element.address %>
	</p>
	<p>
		<strong>city:</strong>
		<%= element.city %>
	</p>
	<p>
		<strong>contactNo:</strong>
		<%= element.contactNo %>
	</p>
	<p>
		<strong>emailAddress:</strong>
		<%= element.emailAddress %>
	</p>
	<p>
		<strong>logo:</strong>
		<%= element.logo %>
	</p>
	<p>
		<strong>organizationID:</strong>
		<%= element.organizationID %>
	</p>
	<p>
		<strong>country:</strong>
		<%= element.country %>
	</p>
	<p>
		<strong>createdAt:</strong>
		<%= element.createdAt %>
	</p>
	<p>
		<strong>updatedAt:</strong>
		<%= element.updatedAt %>
	</p>

<br>
<a href="/organization/edit/<%= element.id %>">Edit</a>
<a href="/organization/create">New</a>
<a href="/organization">Back</a>
