<h1>Show academichistory</h1>

	<p>
		<strong>degreeName:</strong>
		<%= element.degreeName %>
	</p>
	<p>
		<strong>institutionName:</strong>
		<%= element.institutionName %>
	</p>
	<p>
		<strong>awardingBody:</strong>
		<%= element.awardingBody %>
	</p>
	<p>
		<strong>passingYear:</strong>
		<%= element.passingYear %>
	</p>
	<p>
		<strong>result:</strong>
		<%= element.result %>
	</p>
	<p>
		<strong>academicHistoryID:</strong>
		<%= element.academicHistoryID %>
	</p>
	<p>
		<strong>personID:</strong>
		<%= element.personID %>
	</p>

<br>
<a href="/academichistory/edit/<%= element.id %>">Edit</a>
<a href="/academichistory/create">New</a>
<a href="/academichistory">Back</a>
