<h1>Show overtime</h1>

	<p>
		<strong>overTimeDate:</strong>
		<%= element.overTimeDate %>
	</p>
	<p>
		<strong>fromTime:</strong>
		<%= element.fromTime %>
	</p>
	<p>
		<strong>totalHour:</strong>
		<%= element.totalHour %>
	</p>
	<p>
		<strong>toTime:</strong>
		<%= element.toTime %>
	</p>
	<p>
		<strong>overtimeID:</strong>
		<%= element.overtimeID %>
	</p>
	<p>
		<strong>employeeID:</strong>
		<%= element.employeeID %>
	</p>

<br>
<a href="/overtime/edit/<%= element.id %>">Edit</a>
<a href="/overtime/create">New</a>
<a href="/overtime">Back</a>
