<h1>Show factory</h1>

	<p>
		<strong>address:</strong>
		<%= element.address %>
	</p>
	<p>
		<strong>factoryName:</strong>
		<%= element.factoryName %>
	</p>
	<p>
		<strong>contactNo:</strong>
		<%= element.contactNo %>
	</p>
	<p>
		<strong>emailAddress:</strong>
		<%= element.emailAddress %>
	</p>
	<p>
		<strong>factoryID:</strong>
		<%= element.factoryID %>
	</p>
	<p>
		<strong>employeeID:</strong>
		<%= element.employeeID %>
	</p>
	<p>
		<strong>warehouseID:</strong>
		<%= element.warehouseID %>
	</p>
	<p>
		<strong>organizationID:</strong>
		<%= element.organizationID %>
	</p>
	<p>
		<strong>createdAt:</strong>
		<%= element.createdAt %>
	</p>
	<p>
		<strong>updatedAt:</strong>
		<%= element.updatedAt %>
	</p>

<br>
<a href="/factory/edit/<%= element.id %>">Edit</a>
<a href="/factory/create">New</a>
<a href="/factory">Back</a>
