<h1>Show chartofaccount</h1>

	<p>
		<strong>categoryType:</strong>
		<%= element.categoryType %>
	</p>
	<p>
		<strong>accountName:</strong>
		<%= element.accountName %>
	</p>
	<p>
		<strong>desription:</strong>
		<%= element.desription %>
	</p>
	<p>
		<strong>underCategory:</strong>
		<%= element.underCategory %>
	</p>
	<p>
		<strong>natureType:</strong>
		<%= element.natureType %>
	</p>
	<p>
		<strong>chartOfAccountID:</strong>
		<%= element.chartOfAccountID %>
	</p>

<br>
<a href="/chartofaccount/edit/<%= element.id %>">Edit</a>
<a href="/chartofaccount/create">New</a>
<a href="/chartofaccount">Back</a>
