<h1>adjustment</h1>


<% if (result.length == 0) { %>
  <h4>
    0 adjustment
  </h4>
<% } else { %>
<table>
	<thead>
    <th>#</th>
		<th>id</th>
			<th>adjustmentType</th>
			<th>amount</th>
			<th>remarks</th>
			<th>adjustmentHead</th>
			<th>adjustmentID</th>
			<th>wagesID</th>
			<th>loanID</th>

		<th>created at</th>
		<th>updated at</th>
		<th colspan="3"></th>
	</thead>

	<tbody>
		<% result.forEach((item, i) => { %>
			<tr>
				<td>
					<%= (i + 1) %>
				</td>
				<td>
					<%= item.id %>
				</td>
					<td>
						<%= item.adjustmentType %>
					</td>
					<td>
						<%= item.amount %>
					</td>
					<td>
						<%= item.remarks %>
					</td>
					<td>
						<%= item.adjustmentHead %>
					</td>
					<td>
						<%= item.adjustmentID %>
					</td>
					<td>
						<%= item.wagesID %>
					</td>
					<td>
						<%= item.loanID %>
					</td>
				<td>
					<%= item.createdAt %>
				</td>
				<td>
					<%= item.updatedAt %>
				</td>
				<td>
					<a href="/adjustment/show/<%= item.id %>">Show</a>
				</td>
				<td>
					<a href="/adjustment/delete/<%= item.id %>">Delete</a>
				</td>
        <td>
					<a href="/adjustment/edit/<%= item.id %>">Edit</a>
				</td>
			</tr>
			<% }) %>
	</tbody>
</table>

<% } %>

<br>
<a href="/adjustment/create">New</a>