<h1>Show adjustment</h1>

	<p>
		<strong>adjustmentType:</strong>
		<%= element.adjustmentType %>
	</p>
	<p>
		<strong>amount:</strong>
		<%= element.amount %>
	</p>
	<p>
		<strong>remarks:</strong>
		<%= element.remarks %>
	</p>
	<p>
		<strong>adjustmentHead:</strong>
		<%= element.adjustmentHead %>
	</p>
	<p>
		<strong>adjustmentID:</strong>
		<%= element.adjustmentID %>
	</p>
	<p>
		<strong>wagesID:</strong>
		<%= element.wagesID %>
	</p>
	<p>
		<strong>loanID:</strong>
		<%= element.loanID %>
	</p>

<br>
<a href="/adjustment/edit/<%= element.id %>">Edit</a>
<a href="/adjustment/create">New</a>
<a href="/adjustment">Back</a>
