<h1>Show vwCorporateSupplier</h1>

	<p>
		<strong>supplierID:</strong>
		<%= element.supplierID %>
	</p>
	<p>
		<strong>departmentID:</strong>
		<%= element.departmentID %>
	</p>
	<p>
		<strong>subSidiaryAccountID:</strong>
		<%= element.subSidiaryAccountID %>
	</p>
	<p>
		<strong>type:</strong>
		<%= element.type %>
	</p>
	<p>
		<strong>organizationID:</strong>
		<%= element.organizationID %>
	</p>
	<p>
		<strong>companyName:</strong>
		<%= element.companyName %>
	</p>
	<p>
		<strong>contactPersonName:</strong>
		<%= element.contactPersonName %>
	</p>
	<p>
		<strong>designation:</strong>
		<%= element.designation %>
	</p>
	<p>
		<strong>contactNo:</strong>
		<%= element.contactNo %>
	</p>
	<p>
		<strong>emailAddress:</strong>
		<%= element.emailAddress %>
	</p>
	<p>
		<strong>website:</strong>
		<%= element.website %>
	</p>

<br>
<a href="/vwCorporateSupplier/edit/<%= element.id %>">Edit</a>
<a href="/vwCorporateSupplier/create">New</a>
<a href="/vwCorporateSupplier">Back</a>
