<div class="">
  <h1>New disbusrmentpayment</h1>

  <div class="body">
    <form class="" action="/disbusrmentpayment/update" method="post">
      <input name="id" value="<%= element.id %>" hidden="true" required>
        <div class="">
          <label for="">paymentMadeBy</label>
          <input type="text" name="paymentMadeBy" value="<%= element.paymentMadeBy %>" required="true">
        </div>
        <div class="">
          <label for="">remarks</label>
          <input type="text" name="remarks" value="<%= element.remarks %>" required="true">
        </div>
        <div class="">
          <label for="">disbusrmentPaymentID</label>
          <input type="number" name="disbusrmentPaymentID" value="<%= element.disbusrmentPaymentID %>" required="false">
        </div>
        <div class="">
          <label for="">employeeID</label>
          <input type="number" name="employeeID" value="<%= element.employeeID %>" required="true">
        </div>
        <div class="">
          <label for="">payrollID</label>
          <input type="number" name="payrollID" value="<%= element.payrollID %>" required="false">
        </div>
      <button type="submit">Update disbusrmentpayment</button>
    </form>
    <br />
    <a href="/disbusrmentpayment">Index</a>
  </div>
</div>