<h1>Show salescontract</h1>

	<p>
		<strong>paymentTerms:</strong>
		<%= element.paymentTerms %>
	</p>
	<p>
		<strong>import:</strong>
		<%= element.import %>
	</p>
	<p>
		<strong>bankName:</strong>
		<%= element.bankName %>
	</p>
	<p>
		<strong>contractNo:</strong>
		<%= element.contractNo %>
	</p>
	<p>
		<strong>date:</strong>
		<%= element.date %>
	</p>
	<p>
		<strong>deliveryPeriodFrom:</strong>
		<%= element.deliveryPeriodFrom %>
	</p>
	<p>
		<strong>deliveryPeriodTo:</strong>
		<%= element.deliveryPeriodTo %>
	</p>
	<p>
		<strong>iECNo:</strong>
		<%= element.iECNo %>
	</p>
	<p>
		<strong>route:</strong>
		<%= element.route %>
	</p>
	<p>
		<strong>determinationOfMeserment:</strong>
		<%= element.determinationOfMeserment %>
	</p>
	<p>
		<strong>modeOfTransport:</strong>
		<%= element.modeOfTransport %>
	</p>
	<p>
		<strong>paymentMethod:</strong>
		<%= element.paymentMethod %>
	</p>
	<p>
		<strong>salesContractID:</strong>
		<%= element.salesContractID %>
	</p>
	<p>
		<strong>letterCreditID:</strong>
		<%= element.letterCreditID %>
	</p>
	<p>
		<strong>witnessID:</strong>
		<%= element.witnessID %>
	</p>
	<p>
		<strong>internationalID:</strong>
		<%= element.internationalID %>
	</p>

<br>
<a href="/salescontract/edit/<%= element.id %>">Edit</a>
<a href="/salescontract/create">New</a>
<a href="/salescontract">Back</a>
