<h1>Show wages</h1>

	<p>
		<strong>grossIncome:</strong>
		<%= element.grossIncome %>
	</p>
	<p>
		<strong>netIncome:</strong>
		<%= element.netIncome %>
	</p>
	<p>
		<strong>overtime:</strong>
		<%= element.overtime %>
	</p>
	<p>
		<strong>status:</strong>
		<%= element.status %>
	</p>
	<p>
		<strong>totalCommission:</strong>
		<%= element.totalCommission %>
	</p>
	<p>
		<strong>totalHour:</strong>
		<%= element.totalHour %>
	</p>
	<p>
		<strong>wagesID:</strong>
		<%= element.wagesID %>
	</p>
	<p>
		<strong>payrollID:</strong>
		<%= element.payrollID %>
	</p>
	<p>
		<strong>salaryProfileID:</strong>
		<%= element.salaryProfileID %>
	</p>

<br>
<a href="/wages/edit/<%= element.id %>">Edit</a>
<a href="/wages/create">New</a>
<a href="/wages">Back</a>
