<h1>vwAJournal</h1>


<% if (result.length == 0) { %>
  <h4>
    0 vwAJournal
  </h4>
<% } else { %>
<table>
	<thead>
    <th>#</th>
		<th>id</th>
			<th>branchID</th>
			<th>date</th>
			<th>transactionID</th>
			<th>transactionTitle</th>
			<th>categoryType</th>
			<th>accountName</th>
			<th>journalID</th>
			<th>financialYearID</th>
			<th>debitCredit</th>
			<th>amount</th>

		<th>created at</th>
		<th>updated at</th>
		<th colspan="3"></th>
	</thead>

	<tbody>
		<% result.forEach((item, i) => { %>
			<tr>
				<td>
					<%= (i + 1) %>
				</td>
				<td>
					<%= item.id %>
				</td>
					<td>
						<%= item.branchID %>
					</td>
					<td>
						<%= item.date %>
					</td>
					<td>
						<%= item.transactionID %>
					</td>
					<td>
						<%= item.transactionTitle %>
					</td>
					<td>
						<%= item.categoryType %>
					</td>
					<td>
						<%= item.accountName %>
					</td>
					<td>
						<%= item.journalID %>
					</td>
					<td>
						<%= item.financialYearID %>
					</td>
					<td>
						<%= item.debitCredit %>
					</td>
					<td>
						<%= item.amount %>
					</td>
				<td>
					<%= item.createdAt %>
				</td>
				<td>
					<%= item.updatedAt %>
				</td>
				<td>
					<a href="/vwAJournal/show/<%= item.id %>">Show</a>
				</td>
				<td>
					<a href="/vwAJournal/delete/<%= item.id %>">Delete</a>
				</td>
        <td>
					<a href="/vwAJournal/edit/<%= item.id %>">Edit</a>
				</td>
			</tr>
			<% }) %>
	</tbody>
</table>

<% } %>

<br>
<a href="/vwAJournal/create">New</a>