<h1>Show vwAJournal</h1>

	<p>
		<strong>branchID:</strong>
		<%= element.branchID %>
	</p>
	<p>
		<strong>date:</strong>
		<%= element.date %>
	</p>
	<p>
		<strong>transactionID:</strong>
		<%= element.transactionID %>
	</p>
	<p>
		<strong>transactionTitle:</strong>
		<%= element.transactionTitle %>
	</p>
	<p>
		<strong>categoryType:</strong>
		<%= element.categoryType %>
	</p>
	<p>
		<strong>accountName:</strong>
		<%= element.accountName %>
	</p>
	<p>
		<strong>journalID:</strong>
		<%= element.journalID %>
	</p>
	<p>
		<strong>financialYearID:</strong>
		<%= element.financialYearID %>
	</p>
	<p>
		<strong>debitCredit:</strong>
		<%= element.debitCredit %>
	</p>
	<p>
		<strong>amount:</strong>
		<%= element.amount %>
	</p>

<br>
<a href="/vwAJournal/edit/<%= element.id %>">Edit</a>
<a href="/vwAJournal/create">New</a>
<a href="/vwAJournal">Back</a>
