<h1>Show payroll</h1>

	<p>
		<strong>approve:</strong>
		<%= element.approve %>
	</p>
	<p>
		<strong>payDate:</strong>
		<%= element.payDate %>
	</p>
	<p>
		<strong>payFrom:</strong>
		<%= element.payFrom %>
	</p>
	<p>
		<strong>payTo:</strong>
		<%= element.payTo %>
	</p>
	<p>
		<strong>prepeareDate:</strong>
		<%= element.prepeareDate %>
	</p>
	<p>
		<strong>status:</strong>
		<%= element.status %>
	</p>
	<p>
		<strong>tax:</strong>
		<%= element.tax %>
	</p>
	<p>
		<strong>totalGrossPay:</strong>
		<%= element.totalGrossPay %>
	</p>
	<p>
		<strong>totalNetPay:</strong>
		<%= element.totalNetPay %>
	</p>
	<p>
		<strong>chartOfAccountID:</strong>
		<%= element.chartOfAccountID %>
	</p>
	<p>
		<strong>payrollID:</strong>
		<%= element.payrollID %>
	</p>
	<p>
		<strong>employeeID:</strong>
		<%= element.employeeID %>
	</p>

<br>
<a href="/payroll/edit/<%= element.id %>">Edit</a>
<a href="/payroll/create">New</a>
<a href="/payroll">Back</a>
