<h1>Show clientaccount</h1>

	<p>
		<strong>accountName:</strong>
		<%= element.accountName %>
	</p>
	<p>
		<strong>accountNo:</strong>
		<%= element.accountNo %>
	</p>
	<p>
		<strong>joiningDate:</strong>
		<%= element.joiningDate %>
	</p>
	<p>
		<strong>active:</strong>
		<%= element.active %>
	</p>
	<p>
		<strong>suspended:</strong>
		<%= element.suspended %>
	</p>
	<p>
		<strong>accountCreditLimit:</strong>
		<%= element.accountCreditLimit %>
	</p>
	<p>
		<strong>remarks:</strong>
		<%= element.remarks %>
	</p>
	<p>
		<strong>clientAccountID:</strong>
		<%= element.clientAccountID %>
	</p>
	<p>
		<strong>clientID:</strong>
		<%= element.clientID %>
	</p>
	<p>
		<strong>organizationID:</strong>
		<%= element.organizationID %>
	</p>

<br>
<a href="/clientaccount/edit/<%= element.id %>">Edit</a>
<a href="/clientaccount/create">New</a>
<a href="/clientaccount">Back</a>
