<h1>bill</h1>


<% if (result.length == 0) { %>
  <h4>
    0 bill
  </h4>
<% } else { %>
<table>
	<thead>
    <th>#</th>
		<th>id</th>
			<th>date</th>
			<th>invoiceNo</th>
			<th>amount</th>
			<th>billID</th>
			<th>customerOrderID</th>

		<th>created at</th>
		<th>updated at</th>
		<th colspan="3"></th>
	</thead>

	<tbody>
		<% result.forEach((item, i) => { %>
			<tr>
				<td>
					<%= (i + 1) %>
				</td>
				<td>
					<%= item.id %>
				</td>
					<td>
						<%= item.date %>
					</td>
					<td>
						<%= item.invoiceNo %>
					</td>
					<td>
						<%= item.amount %>
					</td>
					<td>
						<%= item.billID %>
					</td>
					<td>
						<%= item.customerOrderID %>
					</td>
				<td>
					<%= item.createdAt %>
				</td>
				<td>
					<%= item.updatedAt %>
				</td>
				<td>
					<a href="/bill/show/<%= item.id %>">Show</a>
				</td>
				<td>
					<a href="/bill/delete/<%= item.id %>">Delete</a>
				</td>
        <td>
					<a href="/bill/edit/<%= item.id %>">Edit</a>
				</td>
			</tr>
			<% }) %>
	</tbody>
</table>

<% } %>

<br>
<a href="/bill/create">New</a>