<h1>Show contractdetails</h1>

	<p>
		<strong>itemInfo:</strong>
		<%= element.itemInfo %>
	</p>
	<p>
		<strong>quantity:</strong>
		<%= element.quantity %>
	</p>
	<p>
		<strong>itemPrice:</strong>
		<%= element.itemPrice %>
	</p>
	<p>
		<strong>contractDetailsID:</strong>
		<%= element.contractDetailsID %>
	</p>
	<p>
		<strong>salesContractID:</strong>
		<%= element.salesContractID %>
	</p>

<br>
<a href="/contractdetails/edit/<%= element.id %>">Edit</a>
<a href="/contractdetails/create">New</a>
<a href="/contractdetails">Back</a>
