<h1>Show vwCorporateCustomer</h1>

	<p>
		<strong>clientID:</strong>
		<%= element.clientID %>
	</p>
	<p>
		<strong>date:</strong>
		<%= element.date %>
	</p>
	<p>
		<strong>companyName:</strong>
		<%= element.companyName %>
	</p>
	<p>
		<strong>contactPersonName:</strong>
		<%= element.contactPersonName %>
	</p>
	<p>
		<strong>designation:</strong>
		<%= element.designation %>
	</p>
	<p>
		<strong>contactNo:</strong>
		<%= element.contactNo %>
	</p>
	<p>
		<strong>emailAddress:</strong>
		<%= element.emailAddress %>
	</p>
	<p>
		<strong>website:</strong>
		<%= element.website %>
	</p>
	<p>
		<strong>addressLine1:</strong>
		<%= element.addressLine1 %>
	</p>
	<p>
		<strong>addressLine2:</strong>
		<%= element.addressLine2 %>
	</p>
	<p>
		<strong>postcode:</strong>
		<%= element.postcode %>
	</p>
	<p>
		<strong>city:</strong>
		<%= element.city %>
	</p>
	<p>
		<strong>country:</strong>
		<%= element.country %>
	</p>

<br>
<a href="/vwCorporateCustomer/edit/<%= element.id %>">Edit</a>
<a href="/vwCorporateCustomer/create">New</a>
<a href="/vwCorporateCustomer">Back</a>
