<h1>warehouse</h1>


<% if (result.length == 0) { %>
  <h4>
    0 warehouse
  </h4>
<% } else { %>
<table>
	<thead>
    <th>#</th>
		<th>id</th>
			<th>contactNo</th>
			<th>location</th>
			<th>name</th>
			<th>factoryID</th>
			<th>inventoryDate</th>
			<th>warehouseID</th>
			<th>deliveryID</th>
			<th>createdAt</th>
			<th>updatedAt</th>

		<th>created at</th>
		<th>updated at</th>
		<th colspan="3"></th>
	</thead>

	<tbody>
		<% result.forEach((item, i) => { %>
			<tr>
				<td>
					<%= (i + 1) %>
				</td>
				<td>
					<%= item.id %>
				</td>
					<td>
						<%= item.contactNo %>
					</td>
					<td>
						<%= item.location %>
					</td>
					<td>
						<%= item.name %>
					</td>
					<td>
						<%= item.factoryID %>
					</td>
					<td>
						<%= item.inventoryDate %>
					</td>
					<td>
						<%= item.warehouseID %>
					</td>
					<td>
						<%= item.deliveryID %>
					</td>
					<td>
						<%= item.createdAt %>
					</td>
					<td>
						<%= item.updatedAt %>
					</td>
				<td>
					<%= item.createdAt %>
				</td>
				<td>
					<%= item.updatedAt %>
				</td>
				<td>
					<a href="/warehouse/show/<%= item.id %>">Show</a>
				</td>
				<td>
					<a href="/warehouse/delete/<%= item.id %>">Delete</a>
				</td>
        <td>
					<a href="/warehouse/edit/<%= item.id %>">Edit</a>
				</td>
			</tr>
			<% }) %>
	</tbody>
</table>

<% } %>

<br>
<a href="/warehouse/create">New</a>