<h1>Show warehouse</h1>

	<p>
		<strong>contactNo:</strong>
		<%= element.contactNo %>
	</p>
	<p>
		<strong>location:</strong>
		<%= element.location %>
	</p>
	<p>
		<strong>name:</strong>
		<%= element.name %>
	</p>
	<p>
		<strong>factoryID:</strong>
		<%= element.factoryID %>
	</p>
	<p>
		<strong>inventoryDate:</strong>
		<%= element.inventoryDate %>
	</p>
	<p>
		<strong>warehouseID:</strong>
		<%= element.warehouseID %>
	</p>
	<p>
		<strong>deliveryID:</strong>
		<%= element.deliveryID %>
	</p>
	<p>
		<strong>createdAt:</strong>
		<%= element.createdAt %>
	</p>
	<p>
		<strong>updatedAt:</strong>
		<%= element.updatedAt %>
	</p>

<br>
<a href="/warehouse/edit/<%= element.id %>">Edit</a>
<a href="/warehouse/create">New</a>
<a href="/warehouse">Back</a>
