<h1>Show purchaserequestcart</h1>

	<p>
		<strong>itemID:</strong>
		<%= element.itemID %>
	</p>
	<p>
		<strong>name:</strong>
		<%= element.name %>
	</p>
	<p>
		<strong>quantity:</strong>
		<%= element.quantity %>
	</p>
	<p>
		<strong>weight:</strong>
		<%= element.weight %>
	</p>
	<p>
		<strong>purchaseRequestCartID:</strong>
		<%= element.purchaseRequestCartID %>
	</p>
	<p>
		<strong>purchaseRequestID:</strong>
		<%= element.purchaseRequestID %>
	</p>

<br>
<a href="/purchaserequestcart/edit/<%= element.id %>">Edit</a>
<a href="/purchaserequestcart/create">New</a>
<a href="/purchaserequestcart">Back</a>
