<h1>userroles</h1>


<% if (result.length == 0) { %>
  <h4>
    0 userroles
  </h4>
<% } else { %>
<table>
	<thead>
    <th>#</th>
		<th>id</th>
			<th>createdAt</th>
			<th>updatedAt</th>
			<th>roleId</th>
			<th>userId</th>

		<th>created at</th>
		<th>updated at</th>
		<th colspan="3"></th>
	</thead>

	<tbody>
		<% result.forEach((item, i) => { %>
			<tr>
				<td>
					<%= (i + 1) %>
				</td>
				<td>
					<%= item.id %>
				</td>
					<td>
						<%= item.createdAt %>
					</td>
					<td>
						<%= item.updatedAt %>
					</td>
					<td>
						<%= item.roleId %>
					</td>
					<td>
						<%= item.userId %>
					</td>
				<td>
					<%= item.createdAt %>
				</td>
				<td>
					<%= item.updatedAt %>
				</td>
				<td>
					<a href="/userroles/show/<%= item.id %>">Show</a>
				</td>
				<td>
					<a href="/userroles/delete/<%= item.id %>">Delete</a>
				</td>
        <td>
					<a href="/userroles/edit/<%= item.id %>">Edit</a>
				</td>
			</tr>
			<% }) %>
	</tbody>
</table>

<% } %>

<br>
<a href="/userroles/create">New</a>