<h1>Show userroles</h1>

	<p>
		<strong>createdAt:</strong>
		<%= element.createdAt %>
	</p>
	<p>
		<strong>updatedAt:</strong>
		<%= element.updatedAt %>
	</p>
	<p>
		<strong>roleId:</strong>
		<%= element.roleId %>
	</p>
	<p>
		<strong>userId:</strong>
		<%= element.userId %>
	</p>

<br>
<a href="/userroles/edit/<%= element.id %>">Edit</a>
<a href="/userroles/create">New</a>
<a href="/userroles">Back</a>
