<h1>loan</h1>


<% if (result.length == 0) { %>
  <h4>
    0 loan
  </h4>
<% } else { %>
<table>
	<thead>
    <th>#</th>
		<th>id</th>
			<th>loanAmount</th>
			<th>loanDate</th>
			<th>payingDate</th>
			<th>remarks</th>
			<th>status</th>
			<th>loanID</th>
			<th>employeeID</th>

		<th>created at</th>
		<th>updated at</th>
		<th colspan="3"></th>
	</thead>

	<tbody>
		<% result.forEach((item, i) => { %>
			<tr>
				<td>
					<%= (i + 1) %>
				</td>
				<td>
					<%= item.id %>
				</td>
					<td>
						<%= item.loanAmount %>
					</td>
					<td>
						<%= item.loanDate %>
					</td>
					<td>
						<%= item.payingDate %>
					</td>
					<td>
						<%= item.remarks %>
					</td>
					<td>
						<%= item.status %>
					</td>
					<td>
						<%= item.loanID %>
					</td>
					<td>
						<%= item.employeeID %>
					</td>
				<td>
					<%= item.createdAt %>
				</td>
				<td>
					<%= item.updatedAt %>
				</td>
				<td>
					<a href="/loan/show/<%= item.id %>">Show</a>
				</td>
				<td>
					<a href="/loan/delete/<%= item.id %>">Delete</a>
				</td>
        <td>
					<a href="/loan/edit/<%= item.id %>">Edit</a>
				</td>
			</tr>
			<% }) %>
	</tbody>
</table>

<% } %>

<br>
<a href="/loan/create">New</a>