<h1>Show subsidiaryaccount</h1>

	<p>
		<strong>accountName:</strong>
		<%= element.accountName %>
	</p>
	<p>
		<strong>accountNo:</strong>
		<%= element.accountNo %>
	</p>
	<p>
		<strong>address:</strong>
		<%= element.address %>
	</p>
	<p>
		<strong>branch:</strong>
		<%= element.branch %>
	</p>
	<p>
		<strong>subSidiaryAccountID:</strong>
		<%= element.subSidiaryAccountID %>
	</p>
	<p>
		<strong>chartOfAccountID:</strong>
		<%= element.chartOfAccountID %>
	</p>

<br>
<a href="/subsidiaryaccount/edit/<%= element.id %>">Edit</a>
<a href="/subsidiaryaccount/create">New</a>
<a href="/subsidiaryaccount">Back</a>
