<h1>Show roles</h1>

	<p>
		<strong>id:</strong>
		<%= element.id %>
	</p>
	<p>
		<strong>name:</strong>
		<%= element.name %>
	</p>
	<p>
		<strong>createdAt:</strong>
		<%= element.createdAt %>
	</p>
	<p>
		<strong>updatedAt:</strong>
		<%= element.updatedAt %>
	</p>

<br>
<a href="/roles/edit/<%= element.id %>">Edit</a>
<a href="/roles/create">New</a>
<a href="/roles">Back</a>
