<h1>Show salaryprofile</h1>

	<p>
		<strong>overtimeRate:</strong>
		<%= element.overtimeRate %>
	</p>
	<p>
		<strong>profileType:</strong>
		<%= element.profileType %>
	</p>
	<p>
		<strong>providentFund:</strong>
		<%= element.providentFund %>
	</p>
	<p>
		<strong>taxRate:</strong>
		<%= element.taxRate %>
	</p>
	<p>
		<strong>salaryProfileID:</strong>
		<%= element.salaryProfileID %>
	</p>
	<p>
		<strong>employeeID:</strong>
		<%= element.employeeID %>
	</p>
	<p>
		<strong>hourlyRate:</strong>
		<%= element.hourlyRate %>
	</p>
	<p>
		<strong>commissionRate:</strong>
		<%= element.commissionRate %>
	</p>
	<p>
		<strong>paymentType:</strong>
		<%= element.paymentType %>
	</p>

<br>
<a href="/salaryprofile/edit/<%= element.id %>">Edit</a>
<a href="/salaryprofile/create">New</a>
<a href="/salaryprofile">Back</a>
