<h1>Show vwAccounts</h1>

	<p>
		<strong>accountName:</strong>
		<%= element.accountName %>
	</p>
	<p>
		<strong>categoryType:</strong>
		<%= element.categoryType %>
	</p>
	<p>
		<strong>desription:</strong>
		<%= element.desription %>
	</p>
	<p>
		<strong>underCategory:</strong>
		<%= element.underCategory %>
	</p>
	<p>
		<strong>natureType:</strong>
		<%= element.natureType %>
	</p>
	<p>
		<strong>balance:</strong>
		<%= element.balance %>
	</p>

<br>
<a href="/vwAccounts/edit/<%= element.id %>">Edit</a>
<a href="/vwAccounts/create">New</a>
<a href="/vwAccounts">Back</a>
