<h1>Show item</h1>

	<p>
		<strong>barcode:</strong>
		<%= element.barcode %>
	</p>
	<p>
		<strong>description:</strong>
		<%= element.description %>
	</p>
	<p>
		<strong>discount:</strong>
		<%= element.discount %>
	</p>
	<p>
		<strong>images:</strong>
		<%= element.images %>
	</p>
	<p>
		<strong>itemType:</strong>
		<%= element.itemType %>
	</p>
	<p>
		<strong>maxOrderQuantity:</strong>
		<%= element.maxOrderQuantity %>
	</p>
	<p>
		<strong>name:</strong>
		<%= element.name %>
	</p>
	<p>
		<strong>qrCode:</strong>
		<%= element.qrCode %>
	</p>
	<p>
		<strong>salePrice:</strong>
		<%= element.salePrice %>
	</p>
	<p>
		<strong>unitPrice:</strong>
		<%= element.unitPrice %>
	</p>
	<p>
		<strong>publish:</strong>
		<%= element.publish %>
	</p>
	<p>
		<strong>categoryID:</strong>
		<%= element.categoryID %>
	</p>
	<p>
		<strong>itemID:</strong>
		<%= element.itemID %>
	</p>
	<p>
		<strong>sku:</strong>
		<%= element.sku %>
	</p>

<br>
<a href="/item/edit/<%= element.id %>">Edit</a>
<a href="/item/create">New</a>
<a href="/item">Back</a>
