<h1>Show qutation</h1>

	<p>
		<strong>itemID:</strong>
		<%= element.itemID %>
	</p>
	<p>
		<strong>quantity:</strong>
		<%= element.quantity %>
	</p>
	<p>
		<strong>price:</strong>
		<%= element.price %>
	</p>
	<p>
		<strong>approved:</strong>
		<%= element.approved %>
	</p>
	<p>
		<strong>qutationID:</strong>
		<%= element.qutationID %>
	</p>
	<p>
		<strong>purchaseRequestID:</strong>
		<%= element.purchaseRequestID %>
	</p>
	<p>
		<strong>supplierID:</strong>
		<%= element.supplierID %>
	</p>
	<p>
		<strong>purchaseRequestCartID:</strong>
		<%= element.purchaseRequestCartID %>
	</p>

<br>
<a href="/qutation/edit/<%= element.id %>">Edit</a>
<a href="/qutation/create">New</a>
<a href="/qutation">Back</a>
