<h1>Show lettercredit</h1>

	<p>
		<strong>date:</strong>
		<%= element.date %>
	</p>
	<p>
		<strong>HSCode:</strong>
		<%= element.HSCode %>
	</p>
	<p>
		<strong>IRCERCNo:</strong>
		<%= element.IRCERCNo %>
	</p>
	<p>
		<strong>LCAFNo:</strong>
		<%= element.LCAFNo %>
	</p>
	<p>
		<strong>LCAFDate:</strong>
		<%= element.LCAFDate %>
	</p>
	<p>
		<strong>LCDate:</strong>
		<%= element.LCDate %>
	</p>
	<p>
		<strong>LCNo:</strong>
		<%= element.LCNo %>
	</p>
	<p>
		<strong>nameOfCarrier:</strong>
		<%= element.nameOfCarrier %>
	</p>
	<p>
		<strong>nationality:</strong>
		<%= element.nationality %>
	</p>
	<p>
		<strong>placeOfLoading:</strong>
		<%= element.placeOfLoading %>
	</p>
	<p>
		<strong>placeOfUnloading:</strong>
		<%= element.placeOfUnloading %>
	</p>
	<p>
		<strong>vatRegistrationNo:</strong>
		<%= element.vatRegistrationNo %>
	</p>
	<p>
		<strong>currency:</strong>
		<%= element.currency %>
	</p>
	<p>
		<strong>insuranceCoverNoteNo:</strong>
		<%= element.insuranceCoverNoteNo %>
	</p>
	<p>
		<strong>recevingBank:</strong>
		<%= element.recevingBank %>
	</p>
	<p>
		<strong>letterCreditID:</strong>
		<%= element.letterCreditID %>
	</p>
	<p>
		<strong>insuranceID:</strong>
		<%= element.insuranceID %>
	</p>
	<p>
		<strong>subSidiaryAccountID:</strong>
		<%= element.subSidiaryAccountID %>
	</p>

<br>
<a href="/lettercredit/edit/<%= element.id %>">Edit</a>
<a href="/lettercredit/create">New</a>
<a href="/lettercredit">Back</a>
