<h1>Show purchaserequest</h1>

	<p>
		<strong>purchaseRequestID:</strong>
		<%= element.purchaseRequestID %>
	</p>
	<p>
		<strong>departmentID:</strong>
		<%= element.departmentID %>
	</p>
	<p>
		<strong>date:</strong>
		<%= element.date %>
	</p>
	<p>
		<strong>status:</strong>
		<%= element.status %>
	</p>

<br>
<a href="/purchaserequest/edit/<%= element.id %>">Edit</a>
<a href="/purchaserequest/create">New</a>
<a href="/purchaserequest">Back</a>
