<h1>Show vwSalaryStructureMonthly</h1>

	<p>
		<strong>per_name:</strong>
		<%= element.per_name %>
	</p>
	<p>
		<strong>designation:</strong>
		<%= element.designation %>
	</p>
	<p>
		<strong>status:</strong>
		<%= element.status %>
	</p>
	<p>
		<strong>overtimeRate:</strong>
		<%= element.overtimeRate %>
	</p>
	<p>
		<strong>profileType:</strong>
		<%= element.profileType %>
	</p>
	<p>
		<strong>providentFund:</strong>
		<%= element.providentFund %>
	</p>
	<p>
		<strong>taxRate:</strong>
		<%= element.taxRate %>
	</p>
	<p>
		<strong>hourlyRate:</strong>
		<%= element.hourlyRate %>
	</p>
	<p>
		<strong>commissionRate:</strong>
		<%= element.commissionRate %>
	</p>
	<p>
		<strong>paymentType:</strong>
		<%= element.paymentType %>
	</p>
	<p>
		<strong>basicSalary:</strong>
		<%= element.basicSalary %>
	</p>
	<p>
		<strong>convince:</strong>
		<%= element.convince %>
	</p>
	<p>
		<strong>festivalBonus:</strong>
		<%= element.festivalBonus %>
	</p>
	<p>
		<strong>houseRent:</strong>
		<%= element.houseRent %>
	</p>
	<p>
		<strong>medicalAllowance:</strong>
		<%= element.medicalAllowance %>
	</p>
	<p>
		<strong>otherAllowance:</strong>
		<%= element.otherAllowance %>
	</p>
	<p>
		<strong>grosssalary:</strong>
		<%= element.grosssalary %>
	</p>
	<p>
		<strong>salaryProfileID:</strong>
		<%= element.salaryProfileID %>
	</p>
	<p>
		<strong>employeeID:</strong>
		<%= element.employeeID %>
	</p>

<br>
<a href="/vwSalaryStructureMonthly/edit/<%= element.id %>">Edit</a>
<a href="/vwSalaryStructureMonthly/create">New</a>
<a href="/vwSalaryStructureMonthly">Back</a>
