<h1>Show properties</h1>

	<p>
		<strong>name:</strong>
		<%= element.name %>
	</p>
	<p>
		<strong>value:</strong>
		<%= element.value %>
	</p>
	<p>
		<strong>propertiesID:</strong>
		<%= element.propertiesID %>
	</p>
	<p>
		<strong>itemID:</strong>
		<%= element.itemID %>
	</p>

<br>
<a href="/properties/edit/<%= element.id %>">Edit</a>
<a href="/properties/create">New</a>
<a href="/properties">Back</a>
